/*Esto lo hago para normalizar los margenes en los navegadores, ya que algunos le ponen por defecto un pequeño margen*/
* {
    margin: 0;
    padding: 0; }
  
  body {
   
    width: auto;
    height: auto;
    background-color: #D3E1E1; }
  
  a{
    color: black;
  }